* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.cx_bg {
  background: #000;
  opacity: 0.6;
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 400px;
}
.cx_login {
  background-color: #ffffff;
  width: 400px;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: auto;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 10px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  z-index: 1000;
  top: 20px;
  text-align: left;
  left: 50%;
  margin-left: -200px;
}
.cx_login .cx_l_ic_1 {
  background-image: url("../../images/login_bg.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: right 0;
  width: 26px;
  height: 23px;
  position: absolute;
  left: 10px;
  top: 10px;
  text-indent: -3000;
  vertical-align: middle;
}
.cx_login .cx_l_ic_2 {
  background-image: url("../../images/login_bg.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: right -84px;
  width: 26px;
  height: 23px;
  position: absolute;
  left: 10px;
  top: 10px;
  text-indent: -3000;
  vertical-align: middle;
  top: 0.45em;
}
.cx_login .cx_l_ic_3 {
  background-image: url("../../images/login_bg.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: right -42px;
  width: 26px;
  height: 23px;
  position: absolute;
  left: 10px;
  top: 10px;
  text-indent: -3000;
  vertical-align: middle;
}
.cx_login .cx_l_ic_4 {
  background-image: url("../../images/login_bg.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 -56px;
  width: 26px;
  height: 23px;
  position: absolute;
  left: 10px;
  top: 10px;
  text-indent: -3000;
  vertical-align: middle;
  position: static;
  width: 34px;
  height: 27px;
}
.cx_login .cx_l_ic_5 {
  background-image: url("../../images/login_bg.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 -112px;
  width: 26px;
  height: 23px;
  position: absolute;
  left: 10px;
  top: 10px;
  text-indent: -3000;
  vertical-align: middle;
  position: static;
  width: 30px;
  height: 30px;
}
.cx_login .cx_l_ic_6 {
  background-image: url("../../images/login_bg.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 -160px;
  width: 26px;
  height: 23px;
  position: absolute;
  left: 10px;
  top: 10px;
  text-indent: -3000;
  vertical-align: middle;
  position: static;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.cx_login .cx_l_ic_7 {
  background-image: url("../../images/login_bg.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: right -160px;
  width: 26px;
  height: 23px;
  position: absolute;
  left: 10px;
  top: 10px;
  text-indent: -3000;
  vertical-align: middle;
  position: static;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.cx_login .mt72 {
  margin-top: 60px;
}
.cx_login .pl6 {
  padding-left: 0.6em;
}
.cx_login .cx_login_title {
  height: 45px;
  line-height: 45px;
  background: #aaaaaa;
  padding-left: 18px;
}
.cx_login .cx_login_title h2 {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}
.cx_login .cx_login_close {
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
  background-color: #ffffff;
  width: 25px;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: 25px;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 25px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 25px;
  border-radius: 25px;
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
}
.cx_login .cx_login_box {
  margin: 18px 50px;
  height: 393px;
}
.cx_login .cx_login_error {
  color: #cc0311;
  height: 30px;
  margin-bottom: 10px;
  font-size: 14px;
}
.cx_login .cx_login_error .cx_login_error_ic1 {
  background-color: #cc0311;
  width: 30px;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: 30px;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 40px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFF;
  line-height: 30px;
  text-alignn: center;
  margin-right: 10px;
}
.cx_login .cx_login_error .cx_login_error_getPwd {
  color: #898989;
  padding-left: 40px;
}
.cx_login .cx_login_in {
  padding-left: 46px;
  background-color: #eaeaea;
  width: auto;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: 42px;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 10px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.cx_login .cx_login_input {
  border: 0;
  background-color: #eaeaea;
  width: 100%;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: 40px;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 10px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  display: block;
  font-size: 18px;
  line-height: 40px;
}
.cx_login .cx_login_input.over {
  font-weight: 600;
}
.cx_login .cx_login_next {
  margin-bottom: 10px;
}
.cx_login .cx_login_next input {
  position: relative;
  top: 3px;
}
.cx_login .cx_login_submit {
  background-color: #bad576;
  width: 100%;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: 40px;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 10px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  border: 0;
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
.cx_login .cx_login_others {
  margin: 20px -1% 0;
}
.cx_login .cx_login_others a {
  background-color: #ffffff;
  width: 47%;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: auto;
  text-align: center;
  -moz-border-radius: 10px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  display: inline-block;
  margin: auto 0.9%;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  line-height: 2em;
  overflow: hidden;
  color: #a9a9a9;
}
.cx_login .cx_login_goReg {
  text-align: right;
  color: #888888;
  position: absolute;
  right: 50px;
  bottom: 10px;
}
.cx_login .cx_beg_box .cx_login_check {
  padding-left: 0.6px;
  background: none;
}
.cx_login .cx_beg_box .cx_login_check .cx_login_input {
  padding-left: 0.6em;
}
.cx_login .cx_beg_box .cx_login_goReg {
  left: 50px;
  right: auto;
}
.cx_login .cx_beg_box .cx_login_submit {
  margin-top: 20px;
}
