.bottom {
  width: auto;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.cx_bg {
  background: #000;
  opacity: 0.6;
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 400px;
}
.cx_login {
  background-color: #ffffff;
  width: 90%;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: auto;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 10px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 30em;
  position: fixed;
  z-index: 1000;
  text-align: left;
  left: 50%;
  margin-left: -45%;
}
.cx_login .cx_l_ic_1 {
  background-image: url("../../images/login_ic_1.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 0;
  background-size: contain;
  width: 1.3em;
  height: 1.1em;
  position: absolute;
  left: 0.6em;
  top: 1.2em;
  text-indent: -3000;
  vertical-align: middle;
}
.cx_login .cx_l_ic_2 {
  background-image: url("../../images/login_ic_2.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 0;
  background-size: contain;
  width: 1.3em;
  height: 1.1em;
  position: absolute;
  left: 0.6em;
  top: 1.2em;
  text-indent: -3000;
  vertical-align: middle;
}
.cx_login .cx_l_ic_3 {
  background-image: url("../../images/login_ic_3.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 0;
  background-size: contain;
  width: 1.3em;
  height: 1.1em;
  position: absolute;
  left: 0.6em;
  top: 1.2em;
  text-indent: -3000;
  vertical-align: middle;
}
.cx_login .cx_l_ic_4,
.cx_login .cx_l_ic_5 {
  background-image: url("../../images/login_ic_4.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 0;
  background-size: contain;
  width: 1.3em;
  height: 1.1em;
  position: absolute;
  left: 0.6em;
  top: 1.2em;
  text-indent: -3000;
  vertical-align: middle;
  position: static;
  width: 1.4em;
  height: 1.4em;
}
.cx_login .cx_l_ic_5 {
  background-image: url("../../images/login_ic_5.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 0;
  background-size: contain;
  width: 1.3em;
  height: 1.1em;
  position: absolute;
  left: 0.6em;
  top: 1.2em;
  text-indent: -3000;
  vertical-align: middle;
  position: static;
  width: 1.4em;
  height: 1.4em;
}
.cx_login .cx_l_ic_6,
.cx_login .cx_l_ic_7 {
  background-image: url("../../images/login_ic_6.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 0;
  background-size: contain;
  width: 1.3em;
  height: 1.1em;
  position: absolute;
  left: 0.6em;
  top: 1.2em;
  text-indent: -3000;
  vertical-align: middle;
  margin-right: 10px;
  position: static;
  width: 1.2em;
  height: 1.2em;
}
.cx_login .cx_l_ic_7 {
  background-image: url("../../images/login_ic_7.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 0;
  background-size: contain;
  width: 1.3em;
  height: 1.1em;
  position: absolute;
  left: 0.6em;
  top: 1.2em;
  text-indent: -3000;
  vertical-align: middle;
  margin-right: 10px;
  position: static;
  width: 1.2em;
  height: 1.2em;
}
.cx_login .mt72 {
  margin-top: 72px;
}
.cx_login .pl6 {
  padding-left: 0.6em;
}
.cx_login .cx_login_title {
  paddin: 20px 0 20px 18px;
  background: #aaaaaa;
  padding-left: 18px;
}
.cx_login .cx_login_title h2 {
  color: #FFF;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.8em;
}
.cx_login .cx_login_close {
  position: absolute;
  right: 15px;
  top: 0.3em;
  display: block;
  background-color: #ffffff;
  width: 1em;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: 1em;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 1.4em;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 1.4em;
  border-radius: 1.4em;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1em;
  overflow: hidden;
}
.cx_login .cx_login_box {
  margin: 0.5em 1em;
}
.cx_login .cx_login_error {
  color: #cc0311;
  height: 1.4em;
  font-size: 1.2em;
}
.cx_login .cx_login_error .cx_login_error_ic1 {
  background-color: #cc0311;
  width: 1em;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: 1em;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 1em;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 1em;
  border-radius: 1em;
  font-size: 1.2em;
  font-weight: 700;
  color: #FFF;
  line-height: 1.2em;
  text-alignn: center;
  margin-right: 10px;
}
.cx_login .cx_login_error .cx_login_error_getPwd {
  color: #898989;
  padding-left: 40px;
}
.cx_login .cx_login_in {
  background-color: #eaeaea;
  width: auto;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: auto;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 10px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  position: relative;
  padding: 0.5em 0 0.5em 2.46em;
  margin-top: 1em;
}
.cx_login .cx_login_input {
  border: 0;
  background-color: #eaeaea;
  width: 90%;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: auto;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 10px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  display: block;
  font-size: 1.2em;
  margin-top: 3px;
  margin-bottom: 3px;
}
.cx_login .cx_login_submit {
  background-color: #bad576;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: auto;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 10px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  border: 0;
  color: #FFF;
  font-size: 1.4em;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5em 0 0.5em 0;
  display: block;
  width: 100%;
}
.cx_login .cx_login_others {
  margin: 1em -1% 0;
}
.cx_login .cx_login_others a {
  background-color: #ffffff;
  width: 47.9%;
  /* div�Ŀ��͸�Ϊ600px�������εı߳�Ϊ600px */
  height: auto;
  text-align: center;
  -moz-border-radius: 10px;
  /* Բ�İ뾶Ϊ�߳���һ�룬��300px */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  display: inline-block;
  margin: auto 0.9%;
  font-size: 1.2em;
  font-weight: 600;
  height: 1.8em;
  line-height: 2em;
  overflow: hidden;
  color: #a9a9a9;
}
.cx_login .cx_login_goReg {
  color: #888888;
  position: absolute;
  right: 1em;
  bottom: 1em;
}
.cx_login .cx_beg_box .cx_login_check {
  padding-left: 0.6px;
  margin-right: 40%;
}
.cx_login .cx_beg_box .cx_login_check .cx_login_input {
  padding-left: 0.6em;
}
.cx_login .cx_beg_box .cx_login_goReg {
  left: 1em;
  right: auto;
}
.cx_login .cx_beg_box .cx_login_submit {
  margin-top: 20px;
}
.cx_login .cx_login_in_r {
  width: 35%;
  float: right;
}
